.bg {
    position: fixed;
    inset: -100%;
  
    background:
      radial-gradient(circle at 80% 30%, rgba(var(--mid-rgb),.5), transparent 35%),
      radial-gradient(circle at 20% 70%, rgba(var(--mid-rgb),.7), transparent 35%),
      var(--white);
  
    background-size: 200% 200%;
    filter: blur(0px);
  
    animation: drift 60s linear infinite alternate;
  
    pointer-events: none;
    z-index: -1;
  
    will-change: transform;
    transform: translateZ(0);
  }
  
  @keyframes drift {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
  }