#filterCompany{
    position: relative;
}


.filterCompanyButton{
    width: 100%;
    height: 30px;
    padding: 0 16px;
    background-color: var(--mid);
    color: var(--white);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: all .2s ease;
}
.filterCompanyButton:hover{
    background-color: var(--mid-hover);
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}
.filterCompanyButton.dropdownOpen{
    background-color: var(--mid-active);
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.16);
}
.filterCompanyChevron {
    transition: all .2s ease;
}
.filterCompanyChevron.flip{
    transform:rotate(180deg);
}


#companyDropdown{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    margin-top: 6px;
    z-index: 100;

    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;

    transition: all .2s ease;
}
#companyDropdown.dropdownVisible{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    background-color: rgba(var(--white-rgb), .3);
    backdrop-filter: blur(1000px);
    box-shadow: 0 6px 24px rgba(0,0,0,0.25);
    border-radius: 6px;
}
#companyDropdown input{
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 4px;
    position: relative;
}
#companyDropdown label{
    padding: 0 12px;
    height: 30px;
    margin: 4px 4px;
    border-radius: 6px;
    color: var(--text1);
    cursor: pointer;
    transition: all .2s ease;
}
#companyDropdown label:hover{
    background-color: rgba(0,0,0,.025);
}
#companyDropdown label:has(input:checked){
    background-color: rgba(0,0,0,.05);
    color: var(--text1)

}
  
#companyDropdown input::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--text1);
    border-width: 0 2px 2px 0;
    opacity: 0;
    transition: all .2s ease;
}
#companyDropdown input:checked::after{
    opacity: 1;
    transform: rotate(45deg) scale(1);
}




#inputSalary::-webkit-inner-spin-button,
#inputSalary::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
#inputSalary{
    -moz-appearance: textfield;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 2px solid var(--mid);
    border-radius: 9999px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: all .2s ease;
}
input::placeholder{
    color: var(--text3);
    font-weight: 500;
}
#inputSalary:hover{
    border-color: var(--mid-hover);
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}
#inputSalary:focus{
    outline: none;
    border-color: var(--mid-active);
    transform: translateY(-1px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.16);

}


.buttonExp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--white);
    background-color: var(--mid);
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s ease;
}
.buttonExp:hover{
    background-color: var(--mid-hover);
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}
.buttonExp:active{
    background-color: var(--mid-active);
    transform:translateY(-2px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}