@import "tailwindcss";

:root{
    --bg-dark: #403F4C;
    --bg-mid: #4F86C6;
    --bg-mid-rgb: 79,134,198;
    --bg-mid-hover: #3d78bc;
    --bg-mid-active: #366ba7;
    --bg-white: #FBFEF9;
    --black: #0C1618;
    --bg-grey: #848FA5;
    --text-dark: #29507e; 
    --text-dark-2: #000000;
    --text-dark-2-rgb: 54, 107, 167;
}

body{
  font-family: "Montserrat", sans-serif;
}

button{
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--bg-mid);
  color: var(--bg-white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--bg-mid-hover);
}
button:focus,
button:focus-visible {
  outline: var(--bg-mid) solid 2px;
  outline-offset: 2px;
}
button:active{
  background-color: var(--bg-mid-active);
  /* transform: scale(.975); */
}