@import "tailwindcss";

:root{
    --mid: #4F86C6;
    --mid-rgb: 79,134,198;
    --mid-hover: #3d78bc;
    --mid-active: #366ba7;
    --white: #FBFEF9;
    --white-rgb: 251, 254, 249;
    --black: #0C1618;
    --grey: #848FA5;
    --dark: #366ba7;
    --dark-rgb: 54, 107, 167;
    --text1: #374151;
    --text1-rgb: 55, 65, 81;
    --text1-active: #2b5686; 
    --text2: #6b7280;
    --text2-rgb:107, 114, 128;
    --text2-active: #366ba7;
    --text3: #9CA3AF;
    --text3-active: #2b5686b3;
}

body{
  font-family: "Montserrat", sans-serif;
}

button{
  border-radius: 6px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: rgba(var(--mid-rgb), 1);
  color: var(--white);
  box-shadow: 0 4px 12px rgba(0,0,0,.08);
  cursor: pointer;
  transition: transform .2s ease,
              background-color .2s ease;

}
button:hover {
  background-color: var(--mid-hover);
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}
button:active{
  background-color: var(--mid-active);
  transform: translateY(0px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

}




