#job-info-heading{
    /* background-color: var(--white); */
    /* background-color: aqua; */
    /* overflow: auto; */
    
}

#job-info-heading h1{
    font-size: 40px;
    /* background-color: var(--white); */
    /* margin: 0; */
    margin: 16px 0;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--text1);
    cursor:pointer;
}
#job-info-heading h1:hover {
  color: var(--text1-active);
  transform: translateY(-1px);
}
#job-info-heading h1:active{
  /* background-color: var(--mid-active); */
  transform: translateY(0px);

}

#company{
    font-size: 22px;
    font-weight: 600;
    color: var(--text1);
}

#job-metadata{
    font-size: 16px;
    font-weight: 500;
    color: var(--text2);
}

span{
    /* background-color: red; */
}

.vline{
    min-height: 20px; 
    width: 2px;
    background-color: black;
    margin: 0 5px;
    transform: rotate(180deg);
}

#jobDesc h2{
    color: var(--text1);
    font-size: 24px;
    font-weight: 600;
    /* margin: 4px; */
}

#jobDesc{
    /* background-color: aqua; */
  color: var(--text2);
  font-size: 18px;
  font-weight: 500;
  padding-right: 50px;
}

#jobDesc h2{
    font-size: 26px;
}

#metadata-box{
    min-width: 250px;
    height: auto;
  background-color: rgba(var(--mid-rgb), .05);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(var(--mid-rgb), .15);
    position: sticky;
    top: 40px;
    color: var(--text1)
}
#metadata-box > *:not(:first-child){
    border-top: 1px solid rgba(var(--mid-rgb), .15);
}
.metadata-child{
    padding: 12px 16px;
    font-size: 14px;
}

#metadata-box a{
    background-color: var(--mid);
    padding: 4px 16px;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    border-radius: 9999px;
}
#metadata-box a:hover {
  background-color: var(--mid-hover);
  transform: translateY(-1px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.12);
}

#metadata-box a:active {
  background-color: var(--mid-active);
  transform: translateY(0px);
  box-shadow: 0 2px 3px rgba(0,0,0,0.08);

}