/* #jobRow, #company, img, #jobTitle, #ranges, #salaryRange, #experienceRange{
    background-color: rgba(var(--white-rgb), .2) !important;
} */


hr{
    border-color: rgba(var(--mid-rgb),0.3);
}


#jobs{
    /* background-color: var(--white); */
}


#jobsGrid{
    background-color: rgba(0,0,0,0);
}


#jobRow{
    height: 120px;
    border-radius: 6px;
    border: 1px solid rgba(var(--mid-rgb),0.2);
    background-color: rgba(var(--white-rgb), 0.3);
    box-shadow: 0 0 8px rgba(var(--mid-rgb),0.3);
    backdrop-filter: blur(5px);
}
#jobRow:hover{
    box-shadow: 0 0 8px rgba(var(--mid-rgb),0.5);
}
#jobRow:active{
    box-shadow: 0 0 8px rgba(var(--mid-rgb),0.8);
}


.secondary-text{
    font-size: 13px;
    font-weight: 600;
    color: rgba(var(--dark-rgb),0.7);
}
#ranges{
    font-size: 16px;
    color: var(--mid-active)
}